* {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}
body {
    background: linear-gradient(to bottom right, #55a6d1, #1A78AC);
    font-family: Farro;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
h1 {
    font-size: 500%;
    text-align: center;
}
.inscription-case {
    background-color:#1A78AC;
    width: 80vw;
    margin: auto;
    margin-top: 100px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 5px 12px #135578;
}
.inscription-case h2 {
    text-align: center;
    margin: auto;
}
.inscription-form {
    margin: auto;
    margin-top: 30px;
    text-align: center;
}
.inscription-form input {
    background-color: aliceblue;
    border: 2px solid black;
    border-radius: 5px;
    margin: 20px;
    height: 30px;
    width: 60%;
    padding-left: 5px;
}
.inscription-form input.submit-inscription-input {
    color: white;
    font-size: 100%;
    background-color: #55a6d1;
    border: none;
    height: 5vh;
    width: 70%;
}

.inscription-form input.submit-inscription-input:hover {
    background-color: #1A78AC;
    box-shadow: 2px 5px 12px #135578;
    cursor: pointer;
}
a.inscription-form-return {
    color: white;
    text-decoration: none;
    padding-top: 1%;
    text-align: center;
    margin: auto;
    background-color: #55a6d1;
    border-radius: 5px;
    height: 5vh;
    width: 35%;
}
a.inscription-form-return:hover {
    background-color: #1A78AC;
    box-shadow: 2px 5px 12px #135578;
    cursor: pointer;
}
@media (max-width: 460px) {
    h1 {
        font-size: 20vw;
    }
    .inscription-case {
        width: 100vw;
    }
    .inscription-form input.submit-inscription-input {
        font-size: 5vw;
        height: 5vh;
        width: 50%;
    }
    a.inscription-form-return {
        height: 5vh;
        width: 50%;
    }
}