.apropos {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 70vw;
    justify-content: center;
    text-align: center;
}

.apropos h3 {
    margin: 10vh 0;
}

.apropos p {
    text-align: center;
    box-shadow: 2px 5px 12px #1A78AC;
    padding: 10px;
}

.download {
    display: flex;
    justify-content: center;
}

.apropos a {
    text-decoration: none;
    color: white;
    font-size: 3vw;
    margin-top: 5px;
    margin-left: 5px;
    font-size: 250%;
}

.apropos a:hover {
    color: #1A78AC;
}

@media (max-width: 460px) {
    .apropos {
        font-size: 5vw;
    }
    .apropos a {
        font-size: 10vw;
    }
}
